// =======================================================
// Variables listed down below
// =======================================================

// Variable for my color

$white: #fff;
$blue: rgb(0, 89, 255);
$brown: rgb(82, 65, 45);
$black: black;


$primary-content: $blue;
$secondary-content: $brown;